<main>
<div class="container">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
          </div>

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">投稿作成</h5>
                <p class="text-center small"></p>
              </div>

              <%= form_with model: @post, local: true, html: {class: "row g-3 needs-validation" }  do |f| %>
                <div class="col-12">
                  <%= f.label :image, class: 'form-label' %>
                  <%= f.file_field :image, class: 'form-control' %>
                </div>

                <div class="col-12">
                  <%= f.label :description, class: 'form-label' %>
                  <%= f.text_area :description, class: 'form-control' %>
                </div>

                <div class="col-12">
                <%= f.label :tag_names, class: 'form-label' %>
                <%= f.text_field :tag_names, placeholder: ',で区切ると複数登録できます', class: 'form-control' %>
                </div>

                <div class="col-12">
                  <%= f.submit "投稿する", class: 'btn btn-primary w-100' %>
                </div>
                <div class="col-12">
                </div>
              <% end %>

            </div>
          </div>

          <div class="credits">
          </div>

        </div>
      </div>
    </div>

  </section>

</div>
</main>