<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <div class="d-flex align-items-center text-dark text-decoration-none">
        <%= image_tag current_user.avatar.thumb.url, class: 'img-profile rounded-circle me-2', size: '50x50' %>
        <span class="fs-4"><%= link_to @post.user.name, posts_path %></span>
      </div>
    </header>

    <%= image_tag @post.image.url, class: "container-a bg-light", size: '500x500', alt: "http://www.w3.org/2000/svg" %>
      <div class="container-fluid py-5">
      </div>
  </div>

  <%= render 'comments/form', { post: @post, comment: @comment } %>

  <%= render 'comments/comments', { comments: @comments } %>
</main>

